@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

*{
  font-family: 'Dongle', sans-serif;
}
html, body{
  font-family: 'Dongle', sans-serif;
  font-size:30px;
}
/* div{border:1px solid red;} */
.wrapper{
  width:500px; height:600px; margin:30px auto;
  border:2px solid black;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  display:grid;
  grid-template-rows:1fr 2fr 6fr 1fr 1fr;
}
.say{
  position: relative;
  left:50%; margin-left:-200px;
  width:400px; height:80px;
  padding:5px 10px;
  background: rgba(230, 230, 230, 0.3);
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  border-radius: 29px;
  line-height:80px; text-align:center;
}
.say:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 25px 11px 0;
  border-color: rgb(230, 230, 230, 0.3) transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -25px;
  left: 191px;
}
.img{
  margin-top:40px;
}
#input{
  width:350px; height:40px; border-radius:20px; border:1px solid rgba(0, 0, 0, 0.3);
  font-size:20px; text-align:center;
}
#btn{
  width:50px; height:30px; font-size:15px;
  margin-top:10px;
}